/* --------------------------------------
@Author: ThemeMascot
@URL: http://themeforest.net/user/ThemeMascot

COLOR : Colorset
Color code red 		: #F14545
Color code orange : #F26522
Color code blue 	: #88186E
Color code sky 		: #1DABB8
Color code lemon 	: #A6C437
Color code yellow : #F39C12
Color code green  : #66CC99
----------------------------------------- */
/* text-theme-color-red */
.text-theme-color-red {
  color: #00BCD4 !important;
}
.text-theme-color-orange {
  color: #FF9800 !important;
}
.text-theme-color-blue {
  color: #5D2999 !important;
}
.text-theme-color-sky {
  color: #00BCD4 !important;
}
.text-theme-color-lemon {
  color: #96D81F !important;
}
.text-theme-color-yellow {
  color: #FEC02A !important;
}
.text-theme-color-green {
  color: #31C3B0 !important;
}
/* text-hover-theme-color-red */
.text-hover-theme-color-red:hover {
  color: #FF5252 !important;
}
.text-theme-color-2 {
  color: #00BCD4;
}
.text-theme-colored {
  color: #FF5252;
}
/* background-theme-color-red */
.bg-theme-color-red {
  background-color: #3b5998 !important;
}
.bg-theme-color-orange {
  background-color: #3b5998 !important;
}
.bg-theme-color-blue {
  background-color: #3b5998 !important;
}
/* .bg-theme-color-red,.bg-theme-color-orange,.bg-theme-color-blue:hover{
  background-color: #000000 !important;
} */

.top-header {
  background-color: #000000 !important;
}
.bg-theme-color-sky {
  background-color: #3b5998 !important;
}
.donate_now a{
  background-color: #ffffff !important;
  color: #0b0b0b !important;
}
.bg-theme-color-lemon {
  background-color: #96D81F !important;
}
.bg-theme-color-yellow {
  background-color: #FEC02A !important;
}
.bg-theme-color-green {
  background-color: #31C3B0 !important;
}
/* background-color-transparent */
.bg-theme-color-red-transparent-9 {
  background-color: rgba(255, 82, 82, 0.9);
}
.bg-theme-color-red-transparent-8 {
  background-color: rgba(255, 82, 82, 0.8);
}
/* bg-hover-theme-color-red */
.bg-hover-theme-color-red:hover {
  background: #FF5252 !important;
  border-color: #FF5252 !important;
  color: #fff !important;
}
.bg-hover-theme-color-red:hover h1,
.bg-hover-theme-color-red:hover h2,
.bg-hover-theme-color-red:hover h3,
.bg-hover-theme-color-red:hover h4,
.bg-hover-theme-color-red:hover h5,
.bg-hover-theme-color-red:hover h6,
.bg-hover-theme-color-red:hover p,
.bg-hover-theme-color-red:hover a,
.bg-hover-theme-color-red:hover i {
  color: #fff !important;
}
/*Theme Colored Red Text-color*/
.text-theme-color-2,
.widget .twitter-feed li::after,
.work-gallery .gallery-bottom-part .title {
  color: #00BCD4;
}
/* background-theme-color */
.bg-theme-colored {
  background-color: #3b5998 !important;
}
.bg-theme-color-2 {
  background-color: #00BCD4 !important;
}
.bg-theme-colored-lighter2 {
  background-color: #ff6161 !important;
}
.bg-theme-colored-lighter3 {
  background-color: #ff6c6c !important;
}
.bg-theme-colored-lighter4 {
  background-color: #ff7676 !important;
}
.bg-theme-colored-darker2 {
  background-color: #ff4343 !important;
}
.bg-theme-colored-darker3 {
  background-color: #ff3838 !important;
}
.bg-theme-colored-darker4 {
  background-color: #ff2e2e !important;
}
/* background-color-transparent */
.bg-theme-colored-transparent-9 {
  background-color: rgba(255, 82, 82, 0.9);
}
.bg-theme-colored-transparent-8 {
  background-color: rgba(255, 82, 82, 0.8);
}
.bg-theme-colored-transparent-7 {
  background-color: rgba(255, 82, 82, 0.7);
}
.bg-theme-colored-transparent-6 {
  background-color: rgba(255, 82, 82, 0.6);
}
.bg-theme-colored-transparent-5 {
  background-color: rgba(255, 82, 82, 0.5);
}
.bg-theme-colored-transparent-4 {
  background-color: rgba(255, 82, 82, 0.4);
}
.bg-theme-colored-transparent-3 {
  background-color: rgba(255, 82, 82, 0.3);
}
.bg-theme-colored-transparent-2 {
  background-color: rgba(255, 82, 82, 0.2);
}
.bg-theme-colored-transparent-1 {
  background-color: rgba(255, 82, 82, 0.1);
}
.bg-theme-colored-transparent {
  background-color: rgba(255, 82, 82, 0.75) !important;
}
.btn-theme-color-2 {
  background-color: #00BCD4;
}
.btn-theme-colored {
  background-color: #FF5252;
}
/*Theme Colored Red Bg-transparent-color*/
/*Theme Colored Red Border-top-color*/
.border-theme-color-2-1px {
  border: 1px solid #00BCD4 !important;
}
.border-top-theme-color-2-1px {
  border-top: 1px solid #00BCD4 !important;
}
.border-top-theme-color-2-2px {
  border-top: 2px solid #00BCD4 !important;
}
.border-top-theme-color-2-3px {
  border-top: 3px solid #00BCD4 !important;
}
.border-top-theme-color-2-4px {
  border-top: 4px solid #00BCD4 !important;
}
.border-top-theme-color-2-5px {
  border-top: 5px solid #00BCD4 !important;
}
.border-top-theme-color-2-6px {
  border-top: 6px solid #00BCD4 !important;
}
.border-top-theme-color-2-7px {
  border-top: 7px solid #00BCD4 !important;
}
.border-top-theme-color-2-8px {
  border-top: 8px solid #00BCD4 !important;
}
.border-top-theme-color-2-9px {
  border-top: 9px solid #00BCD4 !important;
}
.border-top-theme-color-2-10px {
  border-top: 10px solid #00BCD4 !important;
}
/*Theme Colored Red Border-bottom-color*/
.border-bottom-theme-color-2-1px {
  border-bottom: 1px solid #00BCD4 !important;
}
.border-bottom-theme-color-2-2px {
  border-bottom: 2px solid #00BCD4 !important;
}
.border-bottom-theme-color-2-3px {
  border-bottom: 3px solid #00BCD4 !important;
}
.border-bottom-theme-color-2-4px {
  border-bottom: 4px solid #00BCD4 !important;
}
.border-bottom-theme-color-2-5px {
  border-bottom: 5px solid #00BCD4 !important;
}
.border-bottom-theme-color-2-6px {
  border-bottom: 6px solid #00BCD4 !important;
}
.border-bottom-theme-color-2-7px {
  border-bottom: 7px solid #00BCD4 !important;
}
.border-bottom-theme-color-2-8px {
  border-bottom: 8px solid #00BCD4 !important;
}
.border-bottom-theme-color-2-9px {
  border-bottom: 9px solid #00BCD4 !important;
}
.border-bottom-theme-color-2-10px {
  border-bottom: 10px solid #00BCD4 !important;
}
/*Theme Colored Red Border-left-color*/
.border-left-theme-color-2-1px {
  border-left: 1px solid #00BCD4 !important;
}
.border-left-theme-color-2-2px {
  border-left: 2px solid #00BCD4 !important;
}
.border-left-theme-color-2-3px {
  border-left: 3px solid #00BCD4 !important;
}
.border-left-theme-color-2-4px {
  border-left: 4px solid #00BCD4 !important;
}
.border-left-theme-color-2-5px {
  border-left: 5px solid #00BCD4 !important;
}
.border-left-theme-color-2-6px {
  border-left: 6px solid #00BCD4 !important;
}
.border-left-theme-color-2-7px {
  border-left: 7px solid #00BCD4 !important;
}
.border-left-theme-color-2-8px {
  border-left: 8px solid #00BCD4 !important;
}
.border-left-theme-color-2-9px {
  border-left: 9px solid #00BCD4 !important;
}
.border-left-theme-color-2-10px {
  border-left: 10px solid #00BCD4 !important;
}
/*Theme Colored Red Border-right-color*/
.border-right-theme-color-2-1px {
  border-right: 1px solid #00BCD4 !important;
}
.border-right-theme-color-2-2px {
  border-right: 2px solid #00BCD4 !important;
}
.border-right-theme-color-2-3px {
  border-right: 3px solid #00BCD4 !important;
}
.border-right-theme-color-2-4px {
  border-right: 4px solid #00BCD4 !important;
}
.border-right-theme-color-2-5px {
  border-right: 5px solid #00BCD4 !important;
}
.border-right-theme-color-2-6px {
  border-right: 6px solid #00BCD4 !important;
}
.border-right-theme-color-2-7px {
  border-right: 7px solid #00BCD4 !important;
}
.border-right-theme-color-2-8px {
  border-right: 8px solid #00BCD4 !important;
}
.border-right-theme-color-2-9px {
  border-right: 9px solid #00BCD4 !important;
}
.border-right-theme-color-2-10px {
  border-right: 10px solid #00BCD4 !important;
}
/* Layer-overlay */
.overlay-theme-color-red:before {
  background-color: rgba(255, 82, 82, 0.9) !important;
}
.overlay-theme-color-orange:before {
  background-color: rgba(255, 152, 0, 0.9) !important;
}
.overlay-theme-color-blue:before {
  background-color: rgba(93, 41, 153, 0.9) !important;
}
.overlay-theme-color-sky:before {
  background-color: rgba(0, 188, 212, 0.9) !important;
}
.overlay-theme-color-lemon:before {
  background-color: rgba(150, 216, 31, 0.9) !important;
}
.overlay-theme-color-yellow:before {
  background-color: rgba(254, 192, 42, 0.9) !important;
}
.overlay-theme-color-green:before {
  background-color: rgba(49, 195, 176, 0.9) !important;
}
/* Layer-overlay */
.overlay-theme-colored-1:before {
  background-color: rgba(255, 82, 82, 0.1) !important;
}
.overlay-theme-colored-2:before {
  background-color: rgba(255, 82, 82, 0.2) !important;
}
.overlay-theme-colored-3:before {
  background-color: rgba(255, 82, 82, 0.3) !important;
}
.overlay-theme-colored-4:before {
  background-color: rgba(255, 82, 82, 0.4) !important;
}
.overlay-theme-colored-5:before {
  background-color: rgba(255, 82, 82, 0.5) !important;
}
.overlay-theme-colored-6:before {
  background-color: rgba(255, 82, 82, 0.6) !important;
}
.overlay-theme-colored-7:before {
  background-color: rgba(255, 82, 82, 0.7) !important;
}
.overlay-theme-colored-8:before {
  background-color: rgba(255, 82, 82, 0.8) !important;
}
.overlay-theme-colored-9:before {
  background-color: rgba(255, 82, 82, 0.9) !important;
}
/*Gallery overlay Shade*/
.gallery-block .overlay-shade.red {
  background-color: rgba(255, 82, 82, 0.8);
}
.gallery-block .overlay-shade.orange {
  background-color: rgba(255, 152, 0, 0.8);
}
.gallery-block .overlay-shade.blue {
  background-color: rgba(93, 41, 153, 0.8);
}
.gallery-block .overlay-shade.sky {
  background-color: rgba(0, 188, 212, 0.8);
}
.gallery-block .overlay-shade.lemon {
  background-color: rgba(150, 216, 31, 0.8);
}
.gallery-block .overlay-shade.yellow {
  background-color: rgba(254, 192, 42, 0.8);
}
.gallery-block .overlay-shade.green {
  background-color: rgba(49, 195, 176, 0.8);
}
/* border-theme-color-red */
.border-theme-color-red {
  border-color: #FF5252 !important;
}
.border-theme-color-red-1px {
  border: 1px solid #FF5252 !important;
}
.border-theme-color-red-2px {
  border: 2px solid #FF5252 !important;
}
/*Theme Colored Red Border-bottom-color*/
.border-bottom-theme-color-red-1px {
  border-bottom: 1px solid #FF5252 !important;
}
.border-bottom-theme-color-red-2px {
  border-bottom: 2px solid #FF5252 !important;
}
/* .border-bottom-theme-color-sky-2px {
  border-bottom: 2px solid #00BCD4 !important;
} */

/*Theme Colored Red Border-left-color*/
.border-left-theme-color-red-1px {
  border-left: 1px solid #FF5252 !important;
}
.border-left-theme-color-red-2px {
  border-left: 2px solid #FF5252 !important;
}
/*Theme Colored Red Border-right-color*/
.border-right-theme-color-red-1px {
  border-right: 1px solid #FF5252 !important;
}
.border-right-theme-color-red-2px {
  border-right: 2px solid #FF5252 !important;
}
section .progress-item .progress-bar .percent,
.section .progress-item .progress-bar .percent {
  border-color: #FF5252 !important;
}
.team-member .member-info {
  background-color: rgba(255, 82, 82, 0.6) !important;
}
/* background-color-transparent */
.donate-piechart .piechart canvas {
  background-color: rgba(255, 82, 82, 0.75) !important;
  border-radius: 50%;
  max-height: 80px;
}
/* Layer-overlay */
.overlay-theme-color-red:before {
  background-color: rgba(255, 82, 82, 0.8) !important;
}
/* Layeroverlay */
.post .entry-meta.meta-absolute,
.volunteer .overlay,
.bg-theme-color-red-transparent-deep {
  background-color: rgba(255, 82, 82, 0.9) !important;
}
.icon-box.box-style1.practice-style3:hover .icon-wrapper,
.zeus .tp-bullet::after {
  background-color: #FF5252;
}
.preloader-dot-loading .cssload-loading i {
  background: #3b5998 !important;
}
/*
 * background: theme-color-red
 * -----------------------------------------------
*/
.tab-slider .nav.nav-pills a:hover,
.tab-slider .nav.nav-pills a.active,
.custom-nav-tabs > li > a:hover,
.panel-group .panel-title a.active::after,
.widget .tags a:hover,
.progress-item .progress-bar,
.small-title .title::after,
.title-icon::before,
.title-icon::after,
.testimonial .item::after,
.drop-caps.colored-square p:first-child:first-letter,
.drop-caps.colored-rounded p:first-child:first-letter,
.list-icon.theme-color-red.square li i,
.list-icon.theme-color-red.rounded li i,
.working-process.theme-color-red a,
.widget.dark .tags a:hover,
.blog-posts .post .entry-content .post-date.right,
.horizontal-tab-centered .nav-pills > li > a:hover,
.horizontal-tab-centered .nav-pills > li.active > a,
.horizontal-tab-centered .nav-pills > li.active > a:hover,
.horizontal-tab-centered .nav-pills > li.active > a:focus,
.owl-theme.dot-theme-color-red .owl-controls .owl-dot span,
.pagination.theme-color-red li.active a,
.section-title .both-side-line::after,
.section-title .both-side-line::before,
.section-title .top-side-line::after,
.section-title .left-side-line::before,
.section-title .right-side-line::before,
.product .tag-sale,
.owl-theme .owl-dots .owl-dot.active span,
.title-icon::after,
.title-icon::before,
.line-bottom:after,
.line-bottom:before,
.line-bottom:after,
.line-bottom-no-border:after,
.line-bottom-center:after,
.line-bottom-center:before,
.title-dots span {
  background: #00BCD4;
}
.ui-state-highlight {
  background: #FF5252 !important;
  color: #fff !important;
}
.widget.dark .tags a:hover,
.title-dots span {
  background-color: #FF5252;
}
.portfolio-filter a.active,
.portfolio-filter a:hover {
  background-color: #FF5252;
  color: #fff;
}
/*
 * text: theme-color-red
 * -----------------------------------------------
*/
ul.list.theme-color-red li:before,
ul.list.theme-color-red.angle-double-right li:before,
ul.list.theme-color-red.angle-right li:before,
ul.list.theme-color-red.check-circle li:before,
ul.list.theme-color-red.check li:before,
.list-icon.theme-color-red li i,
.title-icon [class^="flaticon-"]::after,
.title-icon [class^="flaticon-"]::before,
.menuzord-menu > li > .megamenu .megamenu-row li:hover > a,
.menuzord-menu > li > .megamenu .megamenu-row .post a:hover,
.menuzord-menu > li > .megamenu .megamenu-row li:hover > a i,
.menuzord-menu > li > .megamenu .megamenu-row .post a:hover i,
.pricing-table .table-list li i,
.testimonial-carousel.boxed .content::after,
.blog-posts .post .entry-meta li i,
.widget .twitter-feed li::after,
.widget .address li i,
.icon-box.box-style1.practice-style3 i,
.attorney-carousel .content .contact-area i,
.attorney-address li i,
.icon-box.services-style1:hover .heading,
.horizontal-contact-widget .widget::before,
.horizontal-contact-widget .each-widget::before,
.small-title i,
.drop-caps.text-colored p:first-child:first-letter,
.schedule-box:hover .schedule-details .title a,
.widget.dark .nav-tabs li.active a,
.pagination.theme-color-red li a,
.pager.theme-color-red a,
.widget .post-title a:hover,
.volunteer .info .name a,
.donation-form .form-group label,
.title-icon [class^="flaticon-"]::after,
.title-icon [class^="flaticon-"]::before,
.title-flaticon i,
.breadcrumb.white li.active,
.breadcrumb > li + li::before,
.breadcrumb > .active,
.btn-read-more::after {
  color: #00BCD4;
}
.widget .services-list li.active {
  background-color: #FF5252 !important;
  border-right: 6px solid #00BCD4 !important;
}
.star-rating span::before {
  color: #00BCD4 !important;
}
/* menuzord */
.menuzord .menuzord-menu > li.active > a,
.menuzord .menuzord-menu > li:hover > a,
.menuzord .menuzord-menu ul.dropdown li:hover > a {
  background: #ffffff;
  color: #000000;
}
.menuzord .menuzord-menu > li.active > a i,
.menuzord .menuzord-menu > li:hover > a i,
.menuzord .menuzord-menu ul.dropdown li:hover > a i {
  color: #5D2999;
}
.menuzord .menuzord-menu > li.active > a i,
.menuzord .menuzord-menu > li:hover > a i,
.menuzord .menuzord-menu ul.dropdown li:hover > a i {
  color: #fff;
}
/*
 * border: theme-color-red
 * -----------------------------------------------
*/
.icon-box.icon-rounded-bordered i,
.widget .line-bottom:after,
.widget .line-bottom:after,
.pager.theme-color-red a {
  border: 1px solid #5D2999;
}
.border-theme-color-red,
.owl-theme .owl-dots .owl-dot span {
  border-color: #5D2999;
}
.icon-box.box-style1.practice-style3:hover .icon-wrapper::after {
  border-color: #FF5252 transparent transparent;
}
/* border-left-color */
blockquote.theme-color-red {
  border-left: 3px solid #5D2999;
}
blockquote.bg-theme-color-red {
  border-left: 3px solid #451e71;
  color: #fff;
}
blockquote.bg-theme-color-red footer {
  color: #eeeeee;
}
blockquote.gray.bg-theme-color-red {
  background-color: #eeeeee !important;
  border-left: 3px solid #5D2999;
  color: #5D2999;
}
blockquote.gray.bg-theme-color-red footer {
  color: #777777;
}
.section-title.title-border {
  border-left: 4px solid #FF5252;
}
/* border-top-color */
.cssload-tri {
  border-top: 27px solid #FF5252;
}
/* border-right-color */
.border-right-red {
  border-right: 1px solid #FF5252;
}
.section-title.title-border.title-right {
  border-right: 4px solid #FF5252;
}
/* border-bottom-color */
.testimonial {
  border-bottom-color: #FF5252;
}
.cssload-tri.cssload-invert {
  border-bottom: 27px solid #FF5252;
}
/*
 * btn-default: theme-color-red
 * -----------------------------------------------
*/
.btn-default.btn-theme-color-red {
  color: #FF5252;
  background-color: #fff;
  border-color: #FF5252;
}
.btn-default.btn-theme-color-red:focus,
.btn-default.btn-theme-color-red.focus {
  color: #FF5252;
  background-color: #e6e6e6;
  border-color: #d20000;
}
.btn-default.btn-theme-color-red:hover {
  color: #FF5252;
  background-color: #e6e6e6;
  border-color: #ff1515;
}
.btn-default.btn-theme-color-red:active,
.btn-default.btn-theme-color-red.active,
.open > .dropdown-toggle.btn-default.btn-theme-color-red {
  color: #FF5252;
  background-color: #e6e6e6;
  border-color: #ff1515;
}
.btn-default.btn-theme-color-red:active:hover,
.btn-default.btn-theme-color-red.active:hover,
.open > .dropdown-toggle.btn-default.btn-theme-color-red:hover,
.btn-default.btn-theme-color-red:active:focus,
.btn-default.btn-theme-color-red.active:focus,
.open > .dropdown-toggle.btn-default.btn-theme-color-red:focus,
.btn-default.btn-theme-color-red:active.focus,
.btn-default.btn-theme-color-red.active.focus,
.open > .dropdown-toggle.btn-default.btn-theme-color-red.focus {
  color: #FF5252;
  background-color: #d4d4d4;
  border-color: #d20000;
}
.btn-default.btn-theme-color-red:active,
.btn-default.btn-theme-color-red.active,
.open > .dropdown-toggle.btn-default.btn-theme-color-red {
  background-image: none;
}
.btn-default.btn-theme-color-red.disabled:hover,
.btn-default.btn-theme-color-red[disabled]:hover,
fieldset[disabled] .btn-default.btn-theme-color-red:hover,
.btn-default.btn-theme-color-red.disabled:focus,
.btn-default.btn-theme-color-red[disabled]:focus,
fieldset[disabled] .btn-default.btn-theme-color-red:focus,
.btn-default.btn-theme-color-red.disabled.focus,
.btn-default.btn-theme-color-red[disabled].focus,
fieldset[disabled] .btn-default.btn-theme-color-red.focus {
  background-color: #fff;
  border-color: #FF5252;
}
.btn-default.btn-theme-color-red .badge {
  color: #fff;
  background-color: #FF5252;
}
.btn-default.btn-theme-color-red:hover,
.btn-default.btn-theme-color-red:active,
.btn-default.btn-theme-color-red:focus {
  background-color: #FF5252;
  border-color: #FF5252;
  color: #fff;
}
/*
 * btn-border
 * -----------------------------------------------
*/
.btn-border.btn-theme-color-red {
  color: #FF5252;
  background-color: #fff;
  border-color: #FF5252;
}
.btn-border.btn-theme-color-red:focus,
.btn-border.btn-theme-color-red.focus {
  color: #FF5252;
  background-color: #e6e6e6;
  border-color: #d20000;
}
.btn-border.btn-theme-color-red:hover {
  color: #FF5252;
  background-color: #e6e6e6;
  border-color: #ff1515;
}
.btn-border.btn-theme-color-red:active,
.btn-border.btn-theme-color-red.active,
.open > .dropdown-toggle.btn-border.btn-theme-color-red {
  color: #FF5252;
  background-color: #e6e6e6;
  border-color: #ff1515;
}
.btn-border.btn-theme-color-red:active:hover,
.btn-border.btn-theme-color-red.active:hover,
.open > .dropdown-toggle.btn-border.btn-theme-color-red:hover,
.btn-border.btn-theme-color-red:active:focus,
.btn-border.btn-theme-color-red.active:focus,
.open > .dropdown-toggle.btn-border.btn-theme-color-red:focus,
.btn-border.btn-theme-color-red:active.focus,
.btn-border.btn-theme-color-red.active.focus,
.open > .dropdown-toggle.btn-border.btn-theme-color-red.focus {
  color: #FF5252;
  background-color: #d4d4d4;
  border-color: #d20000;
}
.btn-border.btn-theme-color-red:active,
.btn-border.btn-theme-color-red.active,
.open > .dropdown-toggle.btn-border.btn-theme-color-red {
  background-image: none;
}
.btn-border.btn-theme-color-red.disabled:hover,
.btn-border.btn-theme-color-red[disabled]:hover,
fieldset[disabled] .btn-border.btn-theme-color-red:hover,
.btn-border.btn-theme-color-red.disabled:focus,
.btn-border.btn-theme-color-red[disabled]:focus,
fieldset[disabled] .btn-border.btn-theme-color-red:focus,
.btn-border.btn-theme-color-red.disabled.focus,
.btn-border.btn-theme-color-red[disabled].focus,
fieldset[disabled] .btn-border.btn-theme-color-red.focus {
  background-color: #fff;
  border-color: #FF5252;
}
.btn-border.btn-theme-color-red .badge {
  color: #fff;
  background-color: #FF5252;
}
.btn-border.btn-theme-color-red:hover,
.btn-border.btn-theme-color-red:active,
.btn-border.btn-theme-color-red:focus {
  background-color: #ff1f1f;
  border-color: #ff1f1f;
  color: #fff;
}
/*
 * btn-dark
 * -----------------------------------------------
*/
.btn-dark.btn-theme-color-red {
  color: #fff;
  background-color: #FF5252;
  border-color: #FF5252;
}
.btn-dark.btn-theme-color-red:focus,
.btn-dark.btn-theme-color-red.focus {
  color: #fff;
  background-color: #ff1f1f;
  border-color: #d20000;
}
.btn-dark.btn-theme-color-red:hover {
  color: #fff;
  background-color: #ff1f1f;
  border-color: #ff1515;
}
.btn-dark.btn-theme-color-red:active,
.btn-dark.btn-theme-color-red.active,
.open > .dropdown-toggle.btn-dark.btn-theme-color-red {
  color: #fff;
  background-color: #ff1f1f;
  border-color: #ff1515;
}
.btn-dark.btn-theme-color-red:active:hover,
.btn-dark.btn-theme-color-red.active:hover,
.open > .dropdown-toggle.btn-dark.btn-theme-color-red:hover,
.btn-dark.btn-theme-color-red:active:focus,
.btn-dark.btn-theme-color-red.active:focus,
.open > .dropdown-toggle.btn-dark.btn-theme-color-red:focus,
.btn-dark.btn-theme-color-red:active.focus,
.btn-dark.btn-theme-color-red.active.focus,
.open > .dropdown-toggle.btn-dark.btn-theme-color-red.focus {
  color: #fff;
  background-color: #fa0000;
  border-color: #d20000;
}
.btn-dark.btn-theme-color-red:active,
.btn-dark.btn-theme-color-red.active,
.open > .dropdown-toggle.btn-dark.btn-theme-color-red {
  background-image: none;
}
.btn-dark.btn-theme-color-red.disabled:hover,
.btn-dark.btn-theme-color-red[disabled]:hover,
fieldset[disabled] .btn-dark.btn-theme-color-red:hover,
.btn-dark.btn-theme-color-red.disabled:focus,
.btn-dark.btn-theme-color-red[disabled]:focus,
fieldset[disabled] .btn-dark.btn-theme-color-red:focus,
.btn-dark.btn-theme-color-red.disabled.focus,
.btn-dark.btn-theme-color-red[disabled].focus,
fieldset[disabled] .btn-dark.btn-theme-color-red.focus {
  background-color: #FF5252;
  border-color: #FF5252;
}
.btn-dark.btn-theme-color-red .badge {
  color: #FF5252;
  background-color: #fff;
}
/*
 * btn-gray
 * -----------------------------------------------
*/
.btn-gray.btn-theme-color-red {
  color: #fff;
  background-color: #ff8585;
  border-color: #ff8585;
}
.btn-gray.btn-theme-color-red:focus,
.btn-gray.btn-theme-color-red.focus {
  color: #fff;
  background-color: #ff5252;
  border-color: #ff0505;
}
.btn-gray.btn-theme-color-red:hover {
  color: #fff;
  background-color: #ff5252;
  border-color: #ff4848;
}
.btn-gray.btn-theme-color-red:active,
.btn-gray.btn-theme-color-red.active,
.open > .dropdown-toggle.btn-gray.btn-theme-color-red {
  color: #fff;
  background-color: #ff5252;
  border-color: #ff4848;
}
.btn-gray.btn-theme-color-red:active:hover,
.btn-gray.btn-theme-color-red.active:hover,
.open > .dropdown-toggle.btn-gray.btn-theme-color-red:hover,
.btn-gray.btn-theme-color-red:active:focus,
.btn-gray.btn-theme-color-red.active:focus,
.open > .dropdown-toggle.btn-gray.btn-theme-color-red:focus,
.btn-gray.btn-theme-color-red:active.focus,
.btn-gray.btn-theme-color-red.active.focus,
.open > .dropdown-toggle.btn-gray.btn-theme-color-red.focus {
  color: #fff;
  background-color: #ff2e2e;
  border-color: #ff0505;
}
.btn-gray.btn-theme-color-red:active,
.btn-gray.btn-theme-color-red.active,
.open > .dropdown-toggle.btn-gray.btn-theme-color-red {
  background-image: none;
}
.btn-gray.btn-theme-color-red.disabled:hover,
.btn-gray.btn-theme-color-red[disabled]:hover,
fieldset[disabled] .btn-gray.btn-theme-color-red:hover,
.btn-gray.btn-theme-color-red.disabled:focus,
.btn-gray.btn-theme-color-red[disabled]:focus,
fieldset[disabled] .btn-gray.btn-theme-color-red:focus,
.btn-gray.btn-theme-color-red.disabled.focus,
.btn-gray.btn-theme-color-red[disabled].focus,
fieldset[disabled] .btn-gray.btn-theme-color-red.focus {
  background-color: #ff8585;
  border-color: #ff8585;
}
.btn-gray.btn-theme-color-red .badge {
  color: #ff8585;
  background-color: #fff;
}
/*
 * btn-primary: theme-color-red
 * -----------------------------------------------
*/
.btn-theme-color-red {
  color: #fff;
  background-color: #FF5252;
  border-color: #FF5252;
}
.btn-theme-color-red:focus,
.btn-theme-color-red.focus {
  color: #fff;
  background-color: #ff1f1f;
  border-color: #d20000;
}
.btn-theme-color-red:hover {
  color: #fff;
  background-color: #ff1f1f;
  border-color: #ff1515;
}
.btn-theme-color-red:active,
.btn-theme-color-red.active,
.open > .dropdown-toggle.btn-theme-color-red {
  color: #fff;
  background-color: #ff1f1f;
  border-color: #ff1515;
}
.btn-theme-color-red:active:hover,
.btn-theme-color-red.active:hover,
.open > .dropdown-toggle.btn-theme-color-red:hover,
.btn-theme-color-red:active:focus,
.btn-theme-color-red.active:focus,
.open > .dropdown-toggle.btn-theme-color-red:focus,
.btn-theme-color-red:active.focus,
.btn-theme-color-red.active.focus,
.open > .dropdown-toggle.btn-theme-color-red.focus {
  color: #fff;
  background-color: #fa0000;
  border-color: #d20000;
}
.btn-theme-color-red:active,
.btn-theme-color-red.active,
.open > .dropdown-toggle.btn-theme-color-red {
  background-image: none;
}
.btn-theme-color-red.disabled:hover,
.btn-theme-color-red[disabled]:hover,
fieldset[disabled] .btn-theme-color-red:hover,
.btn-theme-color-red.disabled:focus,
.btn-theme-color-red[disabled]:focus,
fieldset[disabled] .btn-theme-color-red:focus,
.btn-theme-color-red.disabled.focus,
.btn-theme-color-red[disabled].focus,
fieldset[disabled] .btn-theme-color-red.focus {
  background-color: #FF5252;
  border-color: #FF5252;
}
.btn-theme-color-red .badge {
  color: #FF5252;
  background-color: #fff;
}
.btn-theme-color-orange {
  color: #fff;
  background-color: #FF9800;
  border-color: #FF9800;
}
.btn-theme-color-orange:focus,
.btn-theme-color-orange.focus {
  color: #fff;
  background-color: #cc7a00;
  border-color: #804c00;
}
.btn-theme-color-orange:hover {
  color: #fff;
  background-color: #cc7a00;
  border-color: #c27400;
}
.btn-theme-color-orange:active,
.btn-theme-color-orange.active,
.open > .dropdown-toggle.btn-theme-color-orange {
  color: #fff;
  background-color: #cc7a00;
  border-color: #c27400;
}
.btn-theme-color-orange:active:hover,
.btn-theme-color-orange.active:hover,
.open > .dropdown-toggle.btn-theme-color-orange:hover,
.btn-theme-color-orange:active:focus,
.btn-theme-color-orange.active:focus,
.open > .dropdown-toggle.btn-theme-color-orange:focus,
.btn-theme-color-orange:active.focus,
.btn-theme-color-orange.active.focus,
.open > .dropdown-toggle.btn-theme-color-orange.focus {
  color: #fff;
  background-color: #a86400;
  border-color: #804c00;
}
.btn-theme-color-orange:active,
.btn-theme-color-orange.active,
.open > .dropdown-toggle.btn-theme-color-orange {
  background-image: none;
}
.btn-theme-color-orange.disabled:hover,
.btn-theme-color-orange[disabled]:hover,
fieldset[disabled] .btn-theme-color-orange:hover,
.btn-theme-color-orange.disabled:focus,
.btn-theme-color-orange[disabled]:focus,
fieldset[disabled] .btn-theme-color-orange:focus,
.btn-theme-color-orange.disabled.focus,
.btn-theme-color-orange[disabled].focus,
fieldset[disabled] .btn-theme-color-orange.focus {
  background-color: #FF9800;
  border-color: #FF9800;
}
.btn-theme-color-orange .badge {
  color: #FF9800;
  background-color: #fff;
}
.btn-theme-color-blue {
  color: #fff;
  background-color: #5D2999;
  border-color: #5D2999;
}
.btn-theme-color-blue:focus,
.btn-theme-color-blue.focus {
  color: #fff;
  background-color: #451e71;
  border-color: #200e34;
}
.btn-theme-color-blue:hover {
  color: #fff;
  background-color: #451e71;
  border-color: #401c69;
}
.btn-theme-color-blue:active,
.btn-theme-color-blue.active,
.open > .dropdown-toggle.btn-theme-color-blue {
  color: #fff;
  background-color: #451e71;
  border-color: #401c69;
}
.btn-theme-color-blue:active:hover,
.btn-theme-color-blue.active:hover,
.open > .dropdown-toggle.btn-theme-color-blue:hover,
.btn-theme-color-blue:active:focus,
.btn-theme-color-blue.active:focus,
.open > .dropdown-toggle.btn-theme-color-blue:focus,
.btn-theme-color-blue:active.focus,
.btn-theme-color-blue.active.focus,
.open > .dropdown-toggle.btn-theme-color-blue.focus {
  color: #fff;
  background-color: #331755;
  border-color: #200e34;
}
.btn-theme-color-blue:active,
.btn-theme-color-blue.active,
.open > .dropdown-toggle.btn-theme-color-blue {
  background-image: none;
}
.btn-theme-color-blue.disabled:hover,
.btn-theme-color-blue[disabled]:hover,
fieldset[disabled] .btn-theme-color-blue:hover,
.btn-theme-color-blue.disabled:focus,
.btn-theme-color-blue[disabled]:focus,
fieldset[disabled] .btn-theme-color-blue:focus,
.btn-theme-color-blue.disabled.focus,
.btn-theme-color-blue[disabled].focus,
fieldset[disabled] .btn-theme-color-blue.focus {
  background-color: #5D2999;
  border-color: #5D2999;
}
.btn-theme-color-blue .badge {
  color: #5D2999;
  background-color: #fff;
}
.btn-theme-color-sky {
  color: #fff;
  background-color: #00BCD4;
  border-color: #00BCD4;
}
.btn-theme-color-sky:focus,
.btn-theme-color-sky.focus {
  color: #fff;
  background-color: #008fa1;
  border-color: #004b55;
}
.btn-theme-color-sky:hover {
  color: #fff;
  background-color: #008fa1;
  border-color: #008697;
}
.btn-theme-color-sky:active,
.btn-theme-color-sky.active,
.open > .dropdown-toggle.btn-theme-color-sky {
  color: #fff;
  background-color: #008fa1;
  border-color: #008697;
}
.btn-theme-color-sky:active:hover,
.btn-theme-color-sky.active:hover,
.open > .dropdown-toggle.btn-theme-color-sky:hover,
.btn-theme-color-sky:active:focus,
.btn-theme-color-sky.active:focus,
.open > .dropdown-toggle.btn-theme-color-sky:focus,
.btn-theme-color-sky:active.focus,
.btn-theme-color-sky.active.focus,
.open > .dropdown-toggle.btn-theme-color-sky.focus {
  color: #fff;
  background-color: #006f7d;
  border-color: #004b55;
}
.btn-theme-color-sky:active,
.btn-theme-color-sky.active,
.open > .dropdown-toggle.btn-theme-color-sky {
  background-image: none;
}
.btn-theme-color-sky.disabled:hover,
.btn-theme-color-sky[disabled]:hover,
fieldset[disabled] .btn-theme-color-sky:hover,
.btn-theme-color-sky.disabled:focus,
.btn-theme-color-sky[disabled]:focus,
fieldset[disabled] .btn-theme-color-sky:focus,
.btn-theme-color-sky.disabled.focus,
.btn-theme-color-sky[disabled].focus,
fieldset[disabled] .btn-theme-color-sky.focus {
  background-color: #00BCD4;
  border-color: #00BCD4;
}
.btn-theme-color-sky .badge {
  color: #00BCD4;
  background-color: #fff;
}
.btn-theme-color-lemon {
  color: #fff;
  background-color: #96D81F;
  border-color: #96D81F;
}
.btn-theme-color-lemon:focus,
.btn-theme-color-lemon.focus {
  color: #fff;
  background-color: #77ab19;
  border-color: #49690f;
}
.btn-theme-color-lemon:hover {
  color: #fff;
  background-color: #77ab19;
  border-color: #71a217;
}
.btn-theme-color-lemon:active,
.btn-theme-color-lemon.active,
.open > .dropdown-toggle.btn-theme-color-lemon {
  color: #fff;
  background-color: #77ab19;
  border-color: #71a217;
}
.btn-theme-color-lemon:active:hover,
.btn-theme-color-lemon.active:hover,
.open > .dropdown-toggle.btn-theme-color-lemon:hover,
.btn-theme-color-lemon:active:focus,
.btn-theme-color-lemon.active:focus,
.open > .dropdown-toggle.btn-theme-color-lemon:focus,
.btn-theme-color-lemon:active.focus,
.btn-theme-color-lemon.active.focus,
.open > .dropdown-toggle.btn-theme-color-lemon.focus {
  color: #fff;
  background-color: #618c14;
  border-color: #49690f;
}
.btn-theme-color-lemon:active,
.btn-theme-color-lemon.active,
.open > .dropdown-toggle.btn-theme-color-lemon {
  background-image: none;
}
.btn-theme-color-lemon.disabled:hover,
.btn-theme-color-lemon[disabled]:hover,
fieldset[disabled] .btn-theme-color-lemon:hover,
.btn-theme-color-lemon.disabled:focus,
.btn-theme-color-lemon[disabled]:focus,
fieldset[disabled] .btn-theme-color-lemon:focus,
.btn-theme-color-lemon.disabled.focus,
.btn-theme-color-lemon[disabled].focus,
fieldset[disabled] .btn-theme-color-lemon.focus {
  background-color: #96D81F;
  border-color: #96D81F;
}
.btn-theme-color-lemon .badge {
  color: #96D81F;
  background-color: #fff;
}
.btn-theme-color-yellow {
  color: #fff;
  background-color: #FEC02A;
  border-color: #FEC02A;
}
.btn-theme-color-yellow:focus,
.btn-theme-color-yellow.focus {
  color: #fff;
  background-color: #f4ad01;
  border-color: #a87701;
}
.btn-theme-color-yellow:hover {
  color: #fff;
  background-color: #f4ad01;
  border-color: #eaa601;
}
.btn-theme-color-yellow:active,
.btn-theme-color-yellow.active,
.open > .dropdown-toggle.btn-theme-color-yellow {
  color: #fff;
  background-color: #f4ad01;
  border-color: #eaa601;
}
.btn-theme-color-yellow:active:hover,
.btn-theme-color-yellow.active:hover,
.open > .dropdown-toggle.btn-theme-color-yellow:hover,
.btn-theme-color-yellow:active:focus,
.btn-theme-color-yellow.active:focus,
.open > .dropdown-toggle.btn-theme-color-yellow:focus,
.btn-theme-color-yellow:active.focus,
.btn-theme-color-yellow.active.focus,
.open > .dropdown-toggle.btn-theme-color-yellow.focus {
  color: #fff;
  background-color: #d09401;
  border-color: #a87701;
}
.btn-theme-color-yellow:active,
.btn-theme-color-yellow.active,
.open > .dropdown-toggle.btn-theme-color-yellow {
  background-image: none;
}
.btn-theme-color-yellow.disabled:hover,
.btn-theme-color-yellow[disabled]:hover,
fieldset[disabled] .btn-theme-color-yellow:hover,
.btn-theme-color-yellow.disabled:focus,
.btn-theme-color-yellow[disabled]:focus,
fieldset[disabled] .btn-theme-color-yellow:focus,
.btn-theme-color-yellow.disabled.focus,
.btn-theme-color-yellow[disabled].focus,
fieldset[disabled] .btn-theme-color-yellow.focus {
  background-color: #FEC02A;
  border-color: #FEC02A;
}
.btn-theme-color-yellow .badge {
  color: #FEC02A;
  background-color: #fff;
}
.btn-theme-color-green {
  color: #fff;
  background-color: #31C3B0;
  border-color: #31C3B0;
}
.btn-theme-color-green:focus,
.btn-theme-color-green.focus {
  color: #fff;
  background-color: #279a8b;
  border-color: #175d54;
}
.btn-theme-color-green:hover {
  color: #fff;
  background-color: #279a8b;
  border-color: #259284;
}
.btn-theme-color-green:active,
.btn-theme-color-green.active,
.open > .dropdown-toggle.btn-theme-color-green {
  color: #fff;
  background-color: #279a8b;
  border-color: #259284;
}
.btn-theme-color-green:active:hover,
.btn-theme-color-green.active:hover,
.open > .dropdown-toggle.btn-theme-color-green:hover,
.btn-theme-color-green:active:focus,
.btn-theme-color-green.active:focus,
.open > .dropdown-toggle.btn-theme-color-green:focus,
.btn-theme-color-green:active.focus,
.btn-theme-color-green.active.focus,
.open > .dropdown-toggle.btn-theme-color-green.focus {
  color: #fff;
  background-color: #207e71;
  border-color: #175d54;
}
.btn-theme-color-green:active,
.btn-theme-color-green.active,
.open > .dropdown-toggle.btn-theme-color-green {
  background-image: none;
}
.btn-theme-color-green.disabled:hover,
.btn-theme-color-green[disabled]:hover,
fieldset[disabled] .btn-theme-color-green:hover,
.btn-theme-color-green.disabled:focus,
.btn-theme-color-green[disabled]:focus,
fieldset[disabled] .btn-theme-color-green:focus,
.btn-theme-color-green.disabled.focus,
.btn-theme-color-green[disabled].focus,
fieldset[disabled] .btn-theme-color-green.focus {
  background-color: #31C3B0;
  border-color: #31C3B0;
}
.btn-theme-color-green .badge {
  color: #31C3B0;
  background-color: #fff;
}
/*
 * btn-transparent
 * -----------------------------------------------
*/
.btn-transparent {
  background-color: transparent;
  color: #fff;
}
.btn-transparent.btn-theme-color-red {
  background-color: transparent;
}
.btn-transparent.btn-dark {
  background-color: #111111;
  border-color: #111111;
}
.btn-transparent.btn-dark:hover {
  background-color: #000000;
  border-color: #000000;
}
.btn-transparent.btn-dark.btn-theme-color-red {
  background-color: #FF5252;
  border-color: #FF5252;
}
.btn-transparent.btn-dark.btn-theme-color-red:hover {
  background-color: #ff1f1f;
  border-color: #ff1f1f;
}
.btn-transparent.btn-border {
  background-color: transparent;
  border-color: #eeeeee;
}
.btn-transparent.btn-border:hover {
  background-color: #eeeeee;
  color: #000;
}
.btn-transparent.btn-border.btn-theme-color-red {
  background-color: transparent;
  border-color: #FF5252;
}
.btn-transparent.btn-border.btn-theme-color-red:hover {
  background-color: #FF5252;
  color: #fff;
}
.btn-gray.btn-transparent {
  background-color: #d3d3d3;
  color: #333333;
}
.btn-gray.btn-transparent:hover {
  background-color: #ececec;
  color: #1a1a1a;
}
.btn-gray.btn-transparent.btn-theme-color-red {
  background-color: #ff8585;
  color: #fff;
}
.btn-gray.btn-transparent.btn-theme-color-red:hover {
  background-color: #ff1f1f;
  color: #e6e6e6;
}
.btn-hover-theme-color-red:hover {
  background-color: #FF5252;
  border-color: #FF5252;
  color: #fff;
}
/*
 * Shortcode: social-icons Theme Colored
 * -----------------------------------------------
*/
/* icon red color */
.icon-theme-color-red a {
  color: #FF5252;
}
.icon-theme-color-red.icon-bordered a {
  border-color: #FF5252;
}
.icon-theme-color-red.icon-bordered a:hover {
  background-color: #FF5252;
  color: #fff;
}
.icon-theme-color-red.icon-dark a {
  background-color: #FF5252;
  color: #fff;
}
.icon-theme-color-red.icon-dark a:hover {
  background-color: #ff1f1f;
  color: #e6e6e6;
}
.icon-theme-color-red.icon-dark.icon-bordered a {
  border-color: #FF5252;
  color: #FF5252;
}
.icon-theme-color-red.icon-dark.icon-bordered a:hover {
  background-color: #FF5252;
  border-color: #FF5252;
  color: #fff;
}
.icon-theme-color-red.icon-gray a {
  color: #FF5252;
}
.icon-theme-color-red.icon-gray a:hover {
  color: #ff1f1f;
}
.icon-theme-color-red.icon-gray.icon-bordered a {
  color: #FF5252;
}
.icon-theme-color-red.icon-gray.icon-bordered a:hover {
  background-color: #eeeeee;
  border-color: #eeeeee;
  color: #FF5252;
}
.icon-theme-color-red a:hover {
  color: #ff1f1f;
}
.icon-hover-theme-color-red a:hover {
  background-color: #FF5252;
  border-color: #FF5252;
  color: #fff;
}
.social-icons.icon-hover-theme-color-red a:hover {
  background-color: #FF5252;
  border-color: #FF5252;
  color: #fff;
}
/* icon orange color */
.icon-theme-color-orange a {
  color: #FF9800;
}
.icon-theme-color-orange.icon-bordered a {
  border-color: #FF9800;
}
.icon-theme-color-orange.icon-bordered a:hover {
  background-color: #FF9800;
  color: #fff;
}
.icon-theme-color-orange.icon-dark a {
  background-color: #FF9800;
  color: #fff;
}
.icon-theme-color-orange.icon-dark a:hover {
  background-color: #cc7a00;
  color: #e6e6e6;
}
.icon-theme-color-orange.icon-dark.icon-bordered a {
  border-color: #FF9800;
  color: #FF9800;
}
.icon-theme-color-orange.icon-dark.icon-bordered a:hover {
  background-color: #FF9800;
  border-color: #FF9800;
  color: #fff;
}
.icon-theme-color-orange.icon-gray a {
  color: #FF9800;
}
.icon-theme-color-orange.icon-gray a:hover {
  color: #cc7a00;
}
.icon-theme-color-orange.icon-gray.icon-bordered a {
  color: #FF9800;
}
.icon-theme-color-orange.icon-gray.icon-bordered a:hover {
  background-color: #eeeeee;
  border-color: #eeeeee;
  color: #FF9800;
}
.icon-theme-color-orange a:hover {
  color: #cc7a00;
}
.icon-hover-theme-color-orange a:hover {
  background-color: #FF9800;
  border-color: #FF9800;
  color: #fff;
}
.social-icons.icon-hover-theme-color-orange a:hover {
  background-color: #FF9800;
  border-color: #FF9800;
  color: #fff;
}
/* icon blue color */
.icon-theme-color-blue a {
  color: #5D2999;
}
.icon-theme-color-blue.icon-bordered a {
  border-color: #5D2999;
}
.icon-theme-color-blue.icon-bordered a:hover {
  background-color: #5D2999;
  color: #fff;
}
.icon-theme-color-blue.icon-dark a {
  background-color: #5D2999;
  color: #fff;
}
.icon-theme-color-blue.icon-dark a:hover {
  background-color: #451e71;
  color: #e6e6e6;
}
.icon-theme-color-blue.icon-dark.icon-bordered a {
  border-color: #5D2999;
  color: #5D2999;
}
.icon-theme-color-blue.icon-dark.icon-bordered a:hover {
  background-color: #5D2999;
  border-color: #5D2999;
  color: #fff;
}
.icon-theme-color-blue.icon-gray a {
  color: #5D2999;
}
.icon-theme-color-blue.icon-gray a:hover {
  color: #451e71;
}
.icon-theme-color-blue.icon-gray.icon-bordered a {
  color: #5D2999;
}
.icon-theme-color-blue.icon-gray.icon-bordered a:hover {
  background-color: #eeeeee;
  border-color: #eeeeee;
  color: #5D2999;
}
.icon-theme-color-blue a:hover {
  color: #451e71;
}
.icon-hover-theme-color-blue a:hover {
  background-color: #5D2999;
  border-color: #5D2999;
  color: #fff;
}
.social-icons.icon-hover-theme-color-blue a:hover {
  background-color: #5D2999;
  border-color: #5D2999;
  color: #fff;
}
/* icon sky color */
.icon-theme-color-sky a {
  color: #00BCD4;
}
.icon-theme-color-sky.icon-bordered a {
  border-color: #00BCD4;
}
.icon-theme-color-sky.icon-bordered a:hover {
  background-color: #00BCD4;
  color: #fff;
}
.icon-theme-color-sky.icon-dark a {
  background-color: #00BCD4;
  color: #fff;
}
.icon-theme-color-sky.icon-dark a:hover {
  background-color: #008fa1;
  color: #e6e6e6;
}
.icon-theme-color-sky.icon-dark.icon-bordered a {
  border-color: #00BCD4;
  color: #00BCD4;
}
.icon-theme-color-sky.icon-dark.icon-bordered a:hover {
  background-color: #00BCD4;
  border-color: #00BCD4;
  color: #fff;
}
.icon-theme-color-sky.icon-gray a {
  color: #00BCD4;
}
.icon-theme-color-sky.icon-gray a:hover {
  color: #008fa1;
}
.icon-theme-color-sky.icon-gray.icon-bordered a {
  color: #00BCD4;
}
.icon-theme-color-sky.icon-gray.icon-bordered a:hover {
  background-color: #eeeeee;
  border-color: #eeeeee;
  color: #00BCD4;
}
.icon-theme-color-sky a:hover {
  color: #008fa1;
}
.icon-hover-theme-color-sky a:hover {
  background-color: #00BCD4;
  border-color: #00BCD4;
  color: #fff;
}
.social-icons.icon-hover-theme-color-sky a:hover {
  background-color: #00BCD4;
  border-color: #00BCD4;
  color: #fff;
}
/* icon lemon color */
.icon-theme-color-lemon a {
  color: #96D81F;
}
.icon-theme-color-lemon.icon-bordered a {
  border-color: #96D81F;
}
.icon-theme-color-lemon.icon-bordered a:hover {
  background-color: #96D81F;
  color: #fff;
}
.icon-theme-color-lemon.icon-dark a {
  background-color: #96D81F;
  color: #fff;
}
.icon-theme-color-lemon.icon-dark a:hover {
  background-color: #77ab19;
  color: #e6e6e6;
}
.icon-theme-color-lemon.icon-dark.icon-bordered a {
  border-color: #96D81F;
  color: #96D81F;
}
.icon-theme-color-lemon.icon-dark.icon-bordered a:hover {
  background-color: #96D81F;
  border-color: #96D81F;
  color: #fff;
}
.icon-theme-color-lemon.icon-gray a {
  color: #96D81F;
}
.icon-theme-color-lemon.icon-gray a:hover {
  color: #77ab19;
}
.icon-theme-color-lemon.icon-gray.icon-bordered a {
  color: #96D81F;
}
.icon-theme-color-lemon.icon-gray.icon-bordered a:hover {
  background-color: #eeeeee;
  border-color: #eeeeee;
  color: #96D81F;
}
.icon-theme-color-lemon a:hover {
  color: #77ab19;
}
.icon-hover-theme-color-lemon a:hover {
  background-color: #96D81F;
  border-color: #96D81F;
  color: #fff;
}
.social-icons.icon-hover-theme-color-lemon a:hover {
  background-color: #96D81F;
  border-color: #96D81F;
  color: #fff;
}
/* icon yellow color */
.icon-theme-color-yellow a {
  color: #FEC02A;
}
.icon-theme-color-yellow.icon-bordered a {
  border-color: #FEC02A;
}
.icon-theme-color-yellow.icon-bordered a:hover {
  background-color: #FEC02A;
  color: #fff;
}
.icon-theme-color-yellow.icon-dark a {
  background-color: #FEC02A;
  color: #fff;
}
.icon-theme-color-yellow.icon-dark a:hover {
  background-color: #f4ad01;
  color: #e6e6e6;
}
.icon-theme-color-yellow.icon-dark.icon-bordered a {
  border-color: #FEC02A;
  color: #FEC02A;
}
.icon-theme-color-yellow.icon-dark.icon-bordered a:hover {
  background-color: #FEC02A;
  border-color: #FEC02A;
  color: #fff;
}
.icon-theme-color-yellow.icon-gray a {
  color: #FEC02A;
}
.icon-theme-color-yellow.icon-gray a:hover {
  color: #f4ad01;
}
.icon-theme-color-yellow.icon-gray.icon-bordered a {
  color: #FEC02A;
}
.icon-theme-color-yellow.icon-gray.icon-bordered a:hover {
  background-color: #eeeeee;
  border-color: #eeeeee;
  color: #FEC02A;
}
.icon-theme-color-yellow a:hover {
  color: #f4ad01;
}
.icon-hover-theme-color-yellow a:hover {
  background-color: #FEC02A;
  border-color: #FEC02A;
  color: #fff;
}
.social-icons.icon-hover-theme-color-yellow a:hover {
  background-color: #FEC02A;
  border-color: #FEC02A;
  color: #fff;
}
/* icon green color */
.icon-theme-color-green a {
  color: #31C3B0;
}
.icon-theme-color-green.icon-bordered a {
  border-color: #31C3B0;
}
.icon-theme-color-green.icon-bordered a:hover {
  background-color: #31C3B0;
  color: #fff;
}
.icon-theme-color-green.icon-dark a {
  background-color: #31C3B0;
  color: #fff;
}
.icon-theme-color-green.icon-dark a:hover {
  background-color: #279a8b;
  color: #e6e6e6;
}
.icon-theme-color-green.icon-dark.icon-bordered a {
  border-color: #31C3B0;
  color: #31C3B0;
}
.icon-theme-color-green.icon-dark.icon-bordered a:hover {
  background-color: #31C3B0;
  border-color: #31C3B0;
  color: #fff;
}
.icon-theme-color-green.icon-gray a {
  color: #31C3B0;
}
.icon-theme-color-green.icon-gray a:hover {
  color: #279a8b;
}
.icon-theme-color-green.icon-gray.icon-bordered a {
  color: #31C3B0;
}
.icon-theme-color-green.icon-gray.icon-bordered a:hover {
  background-color: #eeeeee;
  border-color: #eeeeee;
  color: #31C3B0;
}
.icon-theme-color-green a:hover {
  color: #279a8b;
}
.icon-hover-theme-color-green a:hover {
  background-color: #31C3B0;
  border-color: #31C3B0;
  color: #fff;
}
.social-icons.icon-hover-theme-color-green a:hover {
  background-color: #31C3B0;
  border-color: #31C3B0;
  color: #fff;
}
/*
 * Shortcode: Icon Boxes Theme Colored
 * -----------------------------------------------
*/
.icon-box.iconbox-theme-color-red .icon {
  color: #FF5252;
}
.icon-box.iconbox-theme-color-red .icon.icon-border-effect::after {
  box-shadow: 0 0 0 3px #FF5252;
}
.icon-box.iconbox-theme-color-red .icon.icon-bordered {
  border-color: #FF5252;
}
.icon-box.iconbox-theme-color-red .icon.icon-bordered:hover {
  background-color: #FF5252;
  color: #fff;
}
.icon-box.iconbox-theme-color-red .icon.icon-gray:hover {
  background-color: #FF5252;
  color: #fff;
}
.icon-box.iconbox-theme-color-red .icon.icon-gray.icon-bordered {
  border-color: #eeeeee;
}
.icon-box.iconbox-theme-color-red .icon.icon-gray.icon-bordered:hover {
  background-color: #FF5252;
  border-color: #FF5252;
  color: #fff;
}
.icon-box.iconbox-theme-color-red .icon.icon-dark {
  background-color: #FF5252;
  color: #fff;
}
.icon-box.iconbox-theme-color-red .icon.icon-dark:hover {
  color: #fff;
}
.icon-box.iconbox-theme-color-red .icon.icon-dark.icon-bordered {
  background-color: transparent;
  border-color: #FF5252;
  color: #FF5252;
}
.icon-box.iconbox-theme-color-red .icon.icon-dark.icon-bordered:hover {
  background-color: #FF5252;
  border-color: #FF5252;
  color: #fff;
}
.icon-box.iconbox-theme-color-red .icon.icon-white {
  background-color: #fff;
  color: #FF5252;
}
.icon-box.iconbox-theme-color-red .icon.icon-white:hover {
  background-color: #FF5252;
  color: #fff;
}
.icon-box.iconbox-theme-color-red .icon.icon-white.icon-bordered {
  background-color: transparent;
  border-color: #FF5252;
  color: #fff;
}
.icon-box.iconbox-theme-color-red .icon.icon-white.icon-bordered:hover {
  background-color: #FF5252;
  border-color: #FF5252;
  color: #fff;
}
.icon-box.iconbox-theme-color-red.iconbox-border {
  border-color: #FF5252;
}
